* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inconsolata', monospace;
}

:root {
  --background: #191622;
  --current-line: #44475a;
  --section: #41414D;
  --foreground: #E1E1E6;
  --purple: #988BC7;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  color: var(--foreground);

  button, label {
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 10px;
    padding: 6px 12px;
    margin-bottom: 20px;
  
    color: var(--foreground);
    border: 1px solid var(--current-line);
    border-radius: 4px;
    background-color: rgba($color: #44475a, $alpha: 0.4);
  
    font-size: 14px;
    font-weight: 600;
  
    transition: all 0.2s;
  
    &:hover {
      background-color: var(--current-line);
    }
  }
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba($color: #44475a, $alpha: 0.2);

  padding: 20px 40px;
  margin-bottom: 20px;

  h1 {
    font-size: 20px;
    font-weight: 700;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    color: var(--foreground);
    background-color: rgba($color: #44475a, $alpha: 0.4);

    text-decoration: none;

    transition: all 0.2s;

    &:hover {
      background-color: var(--current-line);
    }
  }
}

.code-editor {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 0 40px;
  margin-bottom: 20px;

  .actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    input {
      display: none;
    }

    .editor-actions {
      display: flex;
      gap: 10px;

      .upload {
        border: 1px solid var(--purple);
        background-color: rgba($color: #988BC7, $alpha: 0.4);
  
        transition: all 0.2s;
      
        &:hover {
          background-color: var(--purple);
        }
      }
    }
  }
}

.invisible {
  right: -50%;
  transition: all 0.4s;
}

.visible {
  right: 0;
  transition: all 0.4s;
}

.aside-container {
  position: fixed;
  top: 77px;
  width: 50%;
  background-color: var(--background);
  padding: 20px 40px;
  border-radius: 4px;
  max-height: calc(100vh - 60px);
  //750px;

  overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }
     
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
     
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--foreground);
    }

  .aside-content {
    max-width: 720px;

    table {
      width: 100%;
      margin-top: 10px;

      th, td {
        width: 100%;
        word-break: break-all;
    
        border: 1px solid var(--foreground);
        border-radius: 4px;
        padding: 12px;
        text-align: center;
      }
    
      tr {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr;
      }
    }
  }
}

.tables-tab {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.tab {
  cursor: pointer;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  border-radius: 4px;
}

.active-tab {
  background-color: rgba($color: #988BC7, $alpha: 0.6);
}

.inactive-tab {
  background-color: rgba($color: #44475a, $alpha: 0.4);
  transition: all 0.2s;

  &:hover {
    background-color: rgba($color: #988BC7, $alpha: 0.6);
  }
}

.active-table {
  display: block;
}

.inactive-table {
  display: none;
}

.Toastify__close-button.Toastify__close-button--light {
  color: #D4D4D4;
}