* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inconsolata', monospace;
}

:root {
  --background: #191622;
  --current-line: #44475a;
  --section: #41414D;
  --foreground: #E1E1E6;
  --purple: #988BC7;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba($color: #44475a, $alpha: 0.2);

  padding: 30px 40px;
  margin-bottom: 20px;

  h1 {
    font-size: 20px;
    font-weight: 700;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
    color: var(--foreground);
    background-color: rgba($color: #44475a, $alpha: 0.4);

    text-decoration: none;

    transition: all 0.2s;

    &:hover {
      background-color: var(--current-line);
    }
  }
}

.content {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;

  padding: 0 40px;
  padding-bottom: 20px;

  .actions {
    display: flex;
    align-items: center;
    gap: 10px;

    button, label {
      cursor: pointer;
      
      display: flex;
      align-items: center;
      justify-content: center;
      
      gap: 10px;
      padding: 6px 12px;
      margin-bottom: 20px;
    
      color: var(--foreground);
      border: 1px solid var(--current-line);
      border-radius: 4px;
      background-color: rgba($color: #44475a, $alpha: 0.4);
    
      font-size: 14px;
      font-weight: 600;
    
      transition: all 0.2s;
    
      &:hover {
        background-color: var(--current-line);
      }
    }

    input {
      display: none;
    }

    .upload {
      border: 1px solid var(--purple);
      background-color: rgba($color: #988BC7, $alpha: 0.4);

      transition: all 0.2s;
    
      &:hover {
        background-color: var(--purple);
      }
    }
  }

  .table {
    max-height: 530px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }
     
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
     
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--foreground);
    }

    table {
      width: 100%;
    }
  }

  th, td {
    max-width: 20px;
    word-break: break-all;

    border: 1px solid var(--foreground);
    border-radius: 4px;
    padding: 12px;
    text-align: center;
  }
}

.Toastify__close-button.Toastify__close-button--light {
  color: #D4D4D4;
}